*{
    font-family: 'Courier New', Courier, monospace;
}

.future-tasks {
    background-color: green;
}

.present-tasks {
    background-color: red;
}

.past-tasks {
    background-color: darkgrey;
}